body{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	text-align: justify;
	width:100%;
}
p{
	font-size:16px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 50px;
	margin-left: 0px;
}
hr {
	border-top: 1px solid #ededed;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-right: 50px;
	margin-left: 0px;
}
h2 {
	font-size:24px;
	font-weight:800!important;
	color:#404248;
	line-height:1.5em;
}
th {
	background-color:#d81a2a;
	color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
img {
	border-radius: 8px;
	width:100%;
	height:auto;
}
h1.heading_1{
	padding-left:10px;
	margin-top: 30px;
	
}
.table{
	text-align:center;
}
.f1-teams-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1163px;
	margin-left: 0px;
}
.weekend-events-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1045px;
	margin-left: 0px;
}
hr.first_for_the_topic{
	border-top: 1px solid #ededed;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
}
.paragraph_heading_1{
	padding-left:10px;
}
.practices-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1138px;
	margin-left: 0px;
}
.qualifying-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1125px;
	margin-left: 0px;
}
.race-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1210px;
	margin-left: 0px;
}
.safty-car-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1127px;
	margin-left: 0px;
}
.foot-hr{
	border-top: 1px solid #ededed;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
}
.flags-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1200px;
	margin-left: 0px;
}
.tyres-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1200px;
	margin-left: 0px;
}
.ers-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1230px;
	margin-left: 0px;
}
.drs-h2{
	border-bottom: 2px solid #d81a2a;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1210px;
	margin-left: 0px;
}
a{
	font-size:13.6px;
	color: #d81a2a;
}
a.icons{
	color:rgba(255,255,255,1)!important;
}
.icons{
	text-decoration-line:none;
}
li.topics{
	font-size:24px;
	margin-left: 26px;
}
li.topics-10{
	font-size:24px;
	margin-left: 44px;
}
.topic-strong {
	font-size:13.6px;
}
.rights{
	font-size:12px;
	margin-top: 10px;
}
.container{
	background-color:#24292E;
	height:auto;
    max-width: 1366px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.footer-text{
	font-family: 'Titillium Web', sans-serif;
    text-align: center;
    width: 100%;
    color: rgba(255,255,255,.59);
	display: block;
	-webkit-box-sizing: border-box;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-left: 50px;
}
.first-topics{
	font-size:16px !important;
	text-decoration-line:none;
}
.body-footer-text{
	font-style:italic;
	text-algin:center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.author-name {
	font-size:16px;
}
img.h2 {
	max-width:500px;
	height:auto;
}
img.different-between-drs{
	max-width:500px;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;;
}
img.tyres{
	max-width:500px;
	height:auto;
}
img.flags {
	max-width:300px;
	height:auto;
}
img.teams-icon {
	width:100px;
	height:50px;
}
.nv-meta-list {
	color:#393939;
	font-size:13.6px;
}
.SafetyCar,.VirtualSafetyCar,.yellowflag,.mtyre{
	color:yellow;
}
.greenflag,.ityre{
	color:green;
}
.whiteflag,.htyre{
	color:rgb(128,128,128)
}
.redflag,.styre{
	color:red;
}
.blueflag,.wtyre{
	color:blue;
}
#orangeflag{
	color:orange;
}
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 480px) {
	img.h2 {
	max-width:200px;
	height:auto;
	}
	p{
	font-size:10px;
	}
	h1.heading_1{
	padding-left:10px;
	margin-top: 10px;
	font-size:20px;
	}
	h2{
	margin-right:200px !important;
	font-size:16px;
	}
	h3{
	font-size:12px;
	}
	body{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 1em;
	text-align: justify;
	width:100%;
	}
	.first-topics{
	font-size:11px !important;
	text-decoration-line:none;
	}
	.nv-meta-list {
	color:#393939;
	font-size:8px;
	}
	.author-name {
	font-size:10px;
	}
	li.topics{
	font-size:16px;
	margin-left: 26px;
	}
	table.table{
	text-align:center;
	text-size:10px;
	width:25% !important;
	padding: 5px 5px 5px;
	}
	th {
	height:auto !important;
	}
	.table-head-font{
	font-size:10px;	
	}
	.table-body-font{
	font-size:10px !important;
	}
	img.teams-icon {
	width:60px;
	height:30px;
	}
	.f1-teams-h2{
	margin-right: 215px !important;
	}
	.weekend-events-h2{
	margin-right: 136px !important;
	}
	.practices-h2{
	margin-right: 200px !important;
	}
	.qualifying-h2{
	margin-right: 191px !important;
	}
	.race-h2{
	margin-right: 246px !important;
	}
	.safty-car-h2{
	margin-right: 191px !important;
	}
	.flags-h2{
	margin-right: 240px !important;
	}
	.tyres-h2{
	margin-right: 240px !important;
	}
	img.tyres{
	width:230px;
	height:100px;
	}
	.ers-h2{
	margin-right: 260px !important;
	}
	.drs-h2{
	margin-right: 255px !important;
	}
	li.topics-10{
	font-size:16px;
	margin-left: 28px;
	}
	img.flags {
	max-width:150px;
	height:auto;
	}
	.rights{
	font-size:8px;
	margin-top: 6px;
	}
	.body-footer-text{
	font-size:10px;
	}
	.icons{
	width:1px;
	height:auto;
	}
	#envelope{
	font-size:1em !important;	
	}
	#instagram{
	font-size:1em !important;		
	}
	#telegram{
	font-size:1em !important;		
	}
}	
